/* line 6, ../scss/ie-styles.scss */
.ie7 #block-menu-menu-header-utility ul {
  margin-top: 10px;
}
/* line 9, ../scss/ie-styles.scss */
.ie7 .home #topbarInner2 {
  min-height: 100px;
  /* Hack to fix ie7 height-auto bug */
}

/* line 15, ../scss/ie-styles.scss */
.ie8 .region-page-tools, .ie7 .region-page-tools {
  margin-right: -33px;
}

/* line 19, ../scss/ie-styles.scss */
.ie8 .bigSearch .search.typeMode {
  height: 33px;
  padding-top: 16px;
}

/* line 25, ../scss/ie-styles.scss */
.ie7 .bigSearch .search.typeMode {
  height: 33px;
  padding-top: 16px;
}
/* line 29, ../scss/ie-styles.scss */
.ie7 .region-content-top .bigSearch .search {
  padding: 5px 6px 3px;
  height: 30px;
}

/* line 35, ../scss/ie-styles.scss */
.ie8 .region-content-top .bigSearch .search, .ie7 .region-content-top .external_links .bigSearch .search {
  padding: 5px 6px 3px;
  height: 30px;
}

/* line 41, ../scss/ie-styles.scss */
.ie8 .region-content-top .external_links .bigSearch .search {
  padding: 5px 6px 3px;
  height: 30px;
}
/* line 45, ../scss/ie-styles.scss */
.ie8 .region-content-top .bigSearch .search.typeMode {
  font-size: 1.8em;
  height: 25px;
  padding-top: 10px;
}

/* line 52, ../scss/ie-styles.scss */
.ie7 .region-content-top .bigSearch .search.typeMode, .ie8 .region-content-top .external_links .bigSearch .search.typeMode, .ie7 .region-content-top .external_links .bigSearch .search.typeMode {
  font-size: 1.8em;
  height: 25px;
  padding-top: 10px;
}

/* line 58, ../scss/ie-styles.scss */
.ie9 .region-content-top .bigSearch .search {
  width: 371px;
}

/* line 63, ../scss/ie-styles.scss */
.ie7 #block-nice-menus-1 {
  border-top: 0;
  border-bottom: 0;
  margin-bottom: 0;
}
/* line 68, ../scss/ie-styles.scss */
.ie7 .tabBox .tabNav li a.selected {
  border-bottom: 0;
  position: relative;
}

/* line 75, ../scss/ie-styles.scss */
.ie8 .webform-client-form .status input, .ie8 .form-radio {
  border: none;
}

/* line 81, ../scss/ie-styles.scss */
.ie7 .webform-client-form .status input, .ie7 .form-radio {
  border: none;
}

/* line 87, ../scss/ie-styles.scss */
.ie8 .inputBox {
  margin-left: 105px;
  position: relative;
  bottom: 25px;
}
/* line 92, ../scss/ie-styles.scss */
.ie8 .comments input {
  border: none;
  width: 12px;
}

/* line 99, ../scss/ie-styles.scss */
.ie7 .comments input {
  border: none;
  width: 12px;
}
/* line 103, ../scss/ie-styles.scss */
.ie7 .region-navigation-wrapper {
  position: relative;
  z-index: 1000;
}
/* line 107, ../scss/ie-styles.scss */
.ie7 #container {
  position: relative;
  z-index: 999;
}
/* line 111, ../scss/ie-styles.scss */
.ie7 .region-navigation {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 114, ../scss/ie-styles.scss */
.ie7 .region-navigation .megaMenu li.first {
  width: auto;
}
/* line 118, ../scss/ie-styles.scss */
.ie7 .dmdsTypical #block-menu-menu-social-networking, .ie7 .node-type-poll #block-menu-menu-social-networking {
  width: 325px;
}
/* line 121, ../scss/ie-styles.scss */
.ie7 .dmdsTypical #block-menu-menu-social-networking h2, .ie7 .node-type-poll #block-menu-menu-social-networking h2 {
  float: left;
}
/* line 124, ../scss/ie-styles.scss */
.ie7 .view-id-dmds_item_lists .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 20px;
}
/* line 128, ../scss/ie-styles.scss */
.ie7 .view-exhibit-lists h3 {
  margin-top: 0;
}
/* line 131, ../scss/ie-styles.scss */
.ie7 .view-exhibit-lists .node-exhibit {
  margin-top: 10px;
}

/* line 137, ../scss/ie-styles.scss */
.ie8 #block-poll-recent {
  width: 217px;
  padding-left: 37px;
}

/* line 143, ../scss/ie-styles.scss */
.ie7 #block-poll-recent {
  width: 217px;
  padding-left: 37px;
}
/* line 147, ../scss/ie-styles.scss */
.ie7 .page-find-resources-databases .views-row .accordion .opener {
  padding-top: 0;
}
