/* line 3, ../scss/layout.scss */
html {
  background-color: white;
}

/* line 7, ../scss/layout.scss */
body {
  margin: 0;
  padding: 0;
  font: 62.5% / 1.5em Verdana, Arial, sans-serif;
  color: #333;
  background-color: #e9e8e5;
}
/* line 13, ../scss/layout.scss */
body.special {
  background-color: white;
}

/* line 18, ../scss/layout.scss */
#containerheader, .region-navigation-wrapper, #container, #footerWrap {
  width: 100%;
}

/* line 22, ../scss/layout.scss */
#containerheader {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

/* line 28, ../scss/layout.scss */
.special #containerheader {
  background-color: #c00;
}

/* line 32, ../scss/layout.scss */
#header, .region-navigation, #borderWrap {
  border-left: 1px solid #8c8c8a;
  border-right: 1px solid #8c8c8a;
}

/* line 38, ../scss/layout.scss */
.special #header, .special .region-navigation, .special #borderWrap {
  border-left: none;
  border-right: none;
}

/* line 44, ../scss/layout.scss */
#header, .region-navigation, #borderWrap, .region-footer {
  margin: 0 auto;
  width: 900px;
  padding: 0 15px;
}

/* line 51, ../scss/layout.scss */
.special #header, .special .region-navigation, .special #borderWrap {
  padding: 0 50px;
}
/* line 54, ../scss/layout.scss */
.special .region-footer {
  padding: 0 50px;
  padding: 0 218px;
}

/* line 60, ../scss/layout.scss */
#header {
  height: 112px;
  font-size: 1em;
  position: relative;
  background-color: white;
}

/* line 67, ../scss/layout.scss */
.special #header {
  background-color: #c00;
}

/* line 71, ../scss/layout.scss */
#borderWrap {
  background-color: white;
  border-bottom: 1px solid #8c8c8a;
}

/* line 76, ../scss/layout.scss */
.special #borderWrap {
  background-color: transparent;
  border-bottom: none;
}

/* line 81, ../scss/layout.scss */
#columnWrap {
  clear: both;
  background: url(../images/style/column_two_bg.gif) repeat-y 10px 0 transparent;
  margin-bottom: 19px;
  position: relative;
}

/* line 88, ../scss/layout.scss */
.no-sidebars #columnWrap {
  background: none;
}

/* line 92, ../scss/layout.scss */
.one-sidebar.sidebar-first #columnWrap {
  background-image: url(../images/style/column_twoleft_bg.gif);
}

/* line 97, ../scss/layout.scss */
.two-sidebars #columnWrap {
  background-image: url(../images/style/column_three_bg.gif);
}
/* line 100, ../scss/layout.scss */
.two-sidebars.special #columnWrap {
  background-image: url(../images/style-special/column_three_bg.gif);
}

/* line 105, ../scss/layout.scss */
#topbar {
  width: 900px;
  background: #c4b996 url(../images/style/topbar_typical_mid.gif) repeat-y left top;
}

/* line 110, ../scss/layout.scss */
#topbarInner {
  background: url(../images/style/topbar_typical_top.gif) no-repeat left top transparent;
}

/* line 114, ../scss/layout.scss */
#topbarInner2 {
  background: url(../images/style/topbar_typical_bot.gif) no-repeat left bottom transparent;
  padding: 16px 234px 0 13px;
  height: 44px;
}

/* line 120, ../scss/layout.scss */
#columnOne {
  background-color: #f0efee;
  padding: 15px 6px;
  margin-left: 10px;
  border-top: 20px solid #fff;
  width: 193px;
  float: left;
}

/* line 129, ../scss/layout.scss */
#mainContent {
  display: inline;
  position: relative;
  float: left;
  margin: 0;
  font: 1.1em / 1.6em Verdana, Arial, sans-serif;
  width: 430px;
  padding: 40px 20px 10px;
}

/* line 139, ../scss/layout.scss */
.one-sidebar #mainContent {
  display: inline;
  position: relative;
  float: left;
  margin: 0;
  font: 1.1em / 1.7em Verdana, Arial, sans-serif;
  width: 645px;
  padding: 40px 20px 10px;
  min-height: 450px;
}

/* line 150, ../scss/layout.scss */
.no-sidebars #mainContent {
  width: 100%;
}

/* line 154, ../scss/layout.scss */
#columnTwo {
  float: right;
  margin: -50px 10px 0 0;
  padding: 14px 5px 126px;
  font: 1em / 1.5em Verdana, Arial, sans-serif;
  width: 195px;
  background-color: #f0efee;
}

/* line 163, ../scss/layout.scss */
.home #columnTwo {
  margin-top: -219px;
}

/* line 167, ../scss/layout.scss */
.special #footerWrap {
  clear: both;
  border-top: 1px solid #ccc;
  /*background:url(../images/style/footerbg.gif) repeat-x left bottom #fff;*/
}

/* line 173, ../scss/layout.scss */
.region-footer {
  background-color: #E9E8E5;
  text-align: center;
  padding: 0 218px;
  width: 564px;
  color: #666;
  position: relative;
}

/* line 182, ../scss/layout.scss */
.special .region-footer {
  /* background: url(../images/style/footerbg.gif) repeat-x left bottom #fff;*/
  background-color: #fff;
  border-top: 1px solid #ccc;
  margin-top: -1px;
}

/* line 189, ../scss/layout.scss */
.region-sidebar-first {
  min-height: 450px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 197, ../scss/layout.scss */
#mainLogo a {
  float: left;
  margin-left: -15px;
  display: block;
  background: url(../images/style/lib_logo.gif) no-repeat left top transparent;
  height: 112px;
  width: 432px;
}

/* line 206, ../scss/layout.scss */
.special #mainLogo a {
  margin-left: -50px;
  background: url(../images/style-special/lib_logo.gif) no-repeat left top transparent;
}

/* line 211, ../scss/layout.scss */
#mainLogo span {
  position: absolute;
  left: -999em;
}

/* line 216, ../scss/layout.scss */
#block-search-by-page-1 {
  position: absolute;
  top: 58px;
  left: 699px;
}

/* line 222, ../scss/layout.scss */
.special #block-search-by-page-1 {
  left: 734px;
}

/* line 227, ../scss/layout.scss */
#block-search-by-page-1 .form-item {
  float: left;
  margin: 0;
}
/* line 231, ../scss/layout.scss */
#block-search-by-page-1 .form-text {
  height: 16px;
  width: 190px;
  line-height: 16px;
  margin: 0;
  padding: 6px 5px 4px;
  border: 1px solid #666;
  font: italic 1.4em / 1.25em "Times New Roman", Times, Georgia, serif;
  color: #666;
  background: url(../images/style/textfieldbg.gif) no-repeat left top transparent;
}
/* line 242, ../scss/layout.scss */
#block-search-by-page-1 .typeMode {
  color: #000;
  font-style: normal;
}
/* line 246, ../scss/layout.scss */
#block-search-by-page-1 .form-submit {
  margin: 0;
  border: 0 none;
  text-indent: -999em;
  text-transform: capitalize;
  /* IE fix */
  height: 27px;
  width: 14px;
  background: url(../images/style/search_arrow.gif) no-repeat left top transparent;
}

/* line 259, ../scss/layout.scss */
.special #block-search-by-page-1 .form-submit {
  background: url(../images/style-special/search_arrow.gif) no-repeat left top transparent;
}
/* line 262, ../scss/layout.scss */
.special .region-navigation-wrapper {
  background: #3f3f3f url(../images/style/navbg.gif) repeat-x left top;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 273, ../scss/layout.scss */
.region-navigation {
  background: #c00;
  border-top: 1px solid #c00;
  border-bottom: 1px solid #c00;
  padding-left: 24px;
  width: 891px;
  clear: both;
  color: white;
  position: relative;
}

/* line 284, ../scss/layout.scss */
.special .region-navigation {
  background: transparent;
  border-top: none;
  border-bottom: none;
  padding: 0 50px;
  width: auto;
}

/* line 292, ../scss/layout.scss */
#block-nice-menus-1 {
  width: 668px;
}
/* line 295, ../scss/layout.scss */
#block-nice-menus-1 .content ul {
  margin: 0;
  overflow: hidden;
  font: normal 1.7em / 1.1em HelveticaNeue67MdCn, Verdana, sans-serif;
}
/* line 300, ../scss/layout.scss */
#block-nice-menus-1 .content li {
  float: left;
  list-style: none;
  border-right: 1px solid #da5355;
  padding: 5px 3px;
  margin: 0;
}
/* line 301, ../scss/layout.scss */
#block-nice-menus-1 .content li.last {
  border-right: none;
}
/* line 311, ../scss/layout.scss */
#block-nice-menus-1 .content .menuparent a {
  color: white;
  padding: 3px 8px 4px;
  display: block;
  text-transform: uppercase;
}
/* line 317, ../scss/layout.scss */
#block-nice-menus-1 .content .menuparent li a {
  text-transform: none;
}
/* line 320, ../scss/layout.scss */
#block-nice-menus-1 .content .menuparent .megaMenu a {
  padding: 0;
  color: #333 !important;
}
/* line 325, ../scss/layout.scss */
#block-nice-menus-1 .content .active-trail a, #block-nice-menus-1 .content li:hover a, #block-nice-menus-1 .content a:hover {
  text-decoration: none;
}
/* line 328, ../scss/layout.scss */
#block-nice-menus-1 .content li:hover a {
  background-color: #900000;
}

/* line 334, ../scss/layout.scss */
#columnOne .active-trail.expanded {
  padding-bottom: 5px;
}

/* line 341, ../scss/layout.scss */
#block-nice-menus-1 .content li.last a, #block-nice-menus-1 .content li:last-child a {
  border: transparent none;
}
/* line 345, ../scss/layout.scss */
#block-nice-menus-1 .content .megaMenu {
  position: absolute;
  top: 37px;
  left: -999em;
  width: 900px;
  color: #333;
  border-top: 5px solid #c00;
  border-bottom: 1px solid #e3e3e3;
  background: url(../images/style/megamenu_bg.png) repeat-y left top transparent;
  overflow: hidden;
  opacity: 0;
  -moz-transition: height .6s ease, opacity .6s ease;
  -webkit-transition: height .6s ease, opacity .6s ease;
  transition: height .6s ease, opacity .6s ease;
  z-index: 998;
}
/* line 362, ../scss/layout.scss */
#block-nice-menus-1.contextual-links-region {
  position: static;
}
/* line 365, ../scss/layout.scss */
#block-nice-menus-1 .contextual-links-wrapper {
  display: none;
}
/* line 368, ../scss/layout.scss */
#block-nice-menus-1 .content li:hover .megaMenu {
  left: 15px;
  opacity: 1;
  z-index: 999;
}
/* line 374, ../scss/layout.scss */
#block-nice-menus-1 .megaMenu .wrap {
  margin: 20px 0;
  padding: 0 11px;
  background: url(../images/style/megamenu_wrap_bg.gif) repeat-y left top transparent;
  overflow: hidden;
}
/* line 380, ../scss/layout.scss */
#block-nice-menus-1 .megaMenu ul {
  float: left;
  margin: 0 0 0 48px;
  padding: 0;
  width: 260px;
}
/* line 385, ../scss/layout.scss */
#block-nice-menus-1 .megaMenu ul:first-child {
  margin: 0;
}
/* line 389, ../scss/layout.scss */
#block-nice-menus-1 .megaMenu li {
  float: none;
  padding: 3px 0 4px;
  border-right: 0 none;
  border-top: 1px solid #ccc;
  overflow: hidden;
}
/* line 395, ../scss/layout.scss */
#block-nice-menus-1 .megaMenu li:first-child {
  border: 0 none;
}
/* line 399, ../scss/layout.scss */
#block-nice-menus-1 .megaMenu h2 {
  margin: 0;
  float: left;
  width: 98px;
  font: bold 10px / 14px Verdana;
}
/* line 405, ../scss/layout.scss */
#block-nice-menus-1 .megaMenu p {
  padding: 0;
  float: right;
  width: 152px;
  font: 10px / 14px Verdana;
}
/* line 411, ../scss/layout.scss */
#block-nice-menus-1 .megaMenu a {
  color: #c00;
}

/* line 417, ../scss/layout.scss */
#block-jump-menu-menu-audience {
  color: #333;
  width: 206px;
  position: absolute;
  top: 6px;
  right: 25px;
}
/* line 423, ../scss/layout.scss */
#block-jump-menu-menu-audience select {
  width: 206px;
  font-size: 1.1em;
  color: #333;
  padding: 1px 0 0;
}

/* line 431, ../scss/layout.scss */
#header .region-header {
  float: right;
  width: 450px;
  clear: none;
}

/* line 437, ../scss/layout.scss */
#block-menu-menu-header-utility {
  float: right;
}
/* line 439, ../scss/layout.scss */
#block-menu-menu-header-utility ul {
  margin-top: -5px;
}
/* line 442, ../scss/layout.scss */
#block-menu-menu-header-utility li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 1px 7px 0;
  border-right: 1px solid #a80000;
}

/* line 451, ../scss/layout.scss */
.special #block-menu-menu-header-utility li {
  border-right: 1px solid white;
}

/* line 457, ../scss/layout.scss */
#block-menu-menu-header-utility li.last, #block-menu-menu-header-utility li:last-child {
  border: transparent none;
  padding-right: 0;
}
/* line 462, ../scss/layout.scss */
#block-menu-menu-header-utility a {
  color: #c00;
  font-weight: bold;
}

/* line 468, ../scss/layout.scss */
.special #block-menu-menu-header-utility a {
  color: white;
}

/* line 472, ../scss/layout.scss */
#block-menu-menu-footer {
  padding: 13px 0 0;
  margin: 0;
}
/* line 475, ../scss/layout.scss */
#block-menu-menu-footer ul.menu {
  text-align: center;
  margin-bottom: 0;
}
/* line 479, ../scss/layout.scss */
#block-menu-menu-footer li {
  display: inline;
  list-style: none;
  margin: 0 0 0 11px;
  padding: 0;
}
/* line 484, ../scss/layout.scss */
#block-menu-menu-footer li.first, #block-menu-menu-footer li:first-child {
  margin-left: 0;
}

/* line 491, ../scss/layout.scss */
.region-navigation #block-jump-menu-menu-audience h4.label {
  position: absolute;
  z-index: 101;
  margin: 6px 4px;
  width: 180px;
  background-color: #fff;
  font-size: 11px;
}
/* line 499, ../scss/layout.scss */
.region-navigation .container-inline select {
  position: relative;
  z-index: 100;
  margin-top: 3px;
}

/* line 506, ../scss/layout.scss */
.hideOption {
  color: #fff !important;
  display: none !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Main Content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 515, ../scss/layout.scss */
#mainContent .left img {
  margin-top: 0.5em;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column One
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 524, ../scss/layout.scss */
#columnOne h2 {
  padding-left: 5px;
}
/* line 527, ../scss/layout.scss */
#columnOne ul {
  list-style-image: none;
}
/* line 530, ../scss/layout.scss */
#columnOne li {
  position: relative;
  border-bottom: 1px solid #d0c7ab;
  list-style: none;
  list-style-image: none;
  margin: 0;
  font-size: 1.1em;
}

/* line 540, ../scss/layout.scss */
.dmds #columnOne li, .dmdsTypical #columnOne li, .archives #columnOne li {
  border-bottom: 1px solid #bdbdbd;
}

/* line 544, ../scss/layout.scss */
.dmds #columnOne li li, .dmdsTypical #columnOne li li, .archives #columnOne li li {
  border-bottom: 0;
}

/* line 548, ../scss/layout.scss */
.ie7 #columnOne li.expanded {
  padding-bottom: 10px;
}
/* line 550, ../scss/layout.scss */
.ie7 #columnOne li.expanded.open {
  padding-bottom: 0;
}

/* line 557, ../scss/layout.scss */
#columnOne li.open {
  padding-bottom: 10px;
}
/* line 560, ../scss/layout.scss */
#columnOne li a {
  color: #333;
  display: block;
  margin: 0 0 0 16px;
  padding: 4px 0 5px;
}
/* line 565, ../scss/layout.scss */
#columnOne li a.active {
  color: #c00;
  text-decoration: underline;
}
/* line 571, ../scss/layout.scss */
#columnOne .noExpandingNav li a {
  margin: 0;
  padding: 4px 0 5px 5px;
  background-image: none;
}
/* line 576, ../scss/layout.scss */
#columnOne li .toggle {
  display: block;
  float: left;
  text-indent: -999em;
  color: #c00;
  margin: 0;
  padding: 4px 0 5px;
  width: 16px;
  background: url(../images/style/arrowdown.gif) 4px 50% no-repeat;
  cursor: pointer;
}

/* line 589, ../scss/layout.scss */
.special #columnOne li .toggle {
  background: url(../images/style-special/arrowdown.gif) 4px 50% no-repeat;
}

/* line 593, ../scss/layout.scss */
.ie7 #columnOne li .toggle + a {
  float: left;
  margin: 0;
  width: 175px;
}

/* line 599, ../scss/layout.scss */
#columnOne .expanded .toggle {
  background: url(../images/style/arrowdown.gif) 4px 50% no-repeat;
}

/* line 603, ../scss/layout.scss */
.special #columnOne .expanded .toggle {
  background: url(../images/style-special/arrowdown.gif) 4px 50% no-repeat;
}

/* line 607, ../scss/layout.scss */
#columnOne .closed .toggle {
  background: url(../images/style/arrowright.gif) 4px 50% no-repeat;
}

/* line 611, ../scss/layout.scss */
.special #columnOne .closed .toggle {
  background: url(../images/style-special/arrowright.gif) 4px 50% no-repeat;
}

/* line 615, ../scss/layout.scss */
#columnOne ul ul {
  margin-bottom: 0;
}

/* line 619, ../scss/layout.scss */
.ie7 #columnOne ul ul {
  width: 100%;
}

/* line 624, ../scss/layout.scss */
#columnOne .closed > ul {
  display: none;
}
/* line 627, ../scss/layout.scss */
#columnOne li li {
  padding: 0;
  font-size: .9em;
  border: none;
  padding-left: 9px;
}

/* line 635, ../scss/layout.scss */
.ie7 #columnOne li ul.menu {
  padding-bottom: 5px;
}

/* line 640, ../scss/layout.scss */
#columnOne .expanded li {
  padding-bottom: 0;
}
/* line 643, ../scss/layout.scss */
#columnOne .hoverable li {
  padding: 0;
}
/* line 646, ../scss/layout.scss */
#columnOne li li a {
  margin: 0 0 0 16px;
  padding: 2px 0;
}

/* line 652, ../scss/layout.scss */
.ie7 li li.first {
  width: 180px;
}

/* line 656, ../scss/layout.scss */
#columnOne li li .toggle {
  padding: 2px 0;
}

/* line 660, ../scss/layout.scss */
.ie7 #columnOne li li .toggle + a {
  float: left;
  margin: 0;
  width: 164px;
}

/* line 666, ../scss/layout.scss */
#columnOne li li li {
  font-size: inherit;
}
/* line 668, ../scss/layout.scss */
#columnOne li li li a {
  margin: 0;
  padding: 2px 0 2px 16px;
  background: url(../images/style/blackbullet.gif) 7px 8px no-repeat;
}
/* line 673, ../scss/layout.scss */
#columnOne li li li.active a {
  background-image: url(../images/style/redbullet.gif);
}

/* line 678, ../scss/layout.scss */
.ie7 #columnOne li li li .toggle + a {
  float: left;
  margin: 0;
  width: 139px;
  padding-left: 0px;
  background-image: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column Two
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 691, ../scss/layout.scss */
#columnTwo img, #columnTwo iframe {
  border: 1px solid #999;
  margin-bottom: 1em;
}
/* line 695, ../scss/layout.scss */
#columnTwo h2 {
  margin-top: 0;
}

/* line 700, ../scss/layout.scss */
#columnOne h2, #columnTwo h2 {
  margin-top: 0;
  font: normal 1.5em / 1.1em HelveticaNeue67MdCn, Verdana, sans-serif;
  color: #333;
}

/* line 706, ../scss/layout.scss */
#columnOne h2 a {
  color: #333;
}

/* line 710, ../scss/layout.scss */
#columnTwo .button {
  margin-bottom: 9px;
}
/* line 712, ../scss/layout.scss */
#columnTwo .button img {
  margin-bottom: 0;
}
/* line 715, ../scss/layout.scss */
#columnTwo .button.give img {
  border: 0;
}

/* line 723, ../scss/layout.scss */
#block-block-9 {
  position: absolute;
  top: 0;
  left: 37px;
}
/* line 727, ../scss/layout.scss */
#block-block-9 a.logo {
  display: block;
  background: url(../images/style/fdlp_logo.png) no-repeat left top transparent;
  height: 59px;
  width: 161px;
  text-indent: -99999em;
}
/* line 734, ../scss/layout.scss */
#block-block-9 p {
  margin: 0;
  padding: 0;
}

/* line 740, ../scss/layout.scss */
#block-block-10 p {
  margin: 0;
  padding: 0;
  display: inline;
}

/* line 746, ../scss/layout.scss */
.region-footer a {
  color: #666;
}

/* line 751, ../scss/layout.scss */
#block-block-10 p.last, #block-block-10 p:last-child {
  margin-right: 0;
}
