/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column One
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 12, ../scss/layout.scss */
#columnOne h2 {
  padding-left: 5px;
}
/* line 15, ../scss/layout.scss */
#columnOne ul {
  list-style-image: none;
}
/* line 18, ../scss/layout.scss */
#columnOne li {
  position: relative;
  border-bottom: 1px solid #d0c7ab;
  list-style: none;
  list-style-image: none;
  margin: 0;
  font-size: 1.1em;
}

/* line 28, ../scss/layout.scss */
.dmds #columnOne li, .dmdsTypical #columnOne li, .archives #columnOne li {
  border-bottom: 1px solid #bdbdbd;
}

/* line 32, ../scss/layout.scss */
.dmds #columnOne li li, .dmdsTypical #columnOne li li, .archives #columnOne li li {
  border-bottom: 0;
}

/* line 36, ../scss/layout.scss */
.ie7 #columnOne li.expanded {
  padding-bottom: 10px;
}
/* line 38, ../scss/layout.scss */
.ie7 #columnOne li.expanded.open {
  padding-bottom: 0;
}

/* line 45, ../scss/layout.scss */
#columnOne li.open {
  padding-bottom: 10px;
}
/* line 48, ../scss/layout.scss */
#columnOne li a {
  color: #333;
  display: block;
  margin: 0 0 0 16px;
  padding: 4px 0 5px;
}
/* line 53, ../scss/layout.scss */
#columnOne li a.active {
  color: #c00;
  text-decoration: underline;
}
/* line 59, ../scss/layout.scss */
#columnOne .noExpandingNav li a {
  margin: 0;
  padding: 4px 0 5px 5px;
  background-image: none;
}
/* line 64, ../scss/layout.scss */
#columnOne li .toggle {
  display: block;
  float: left;
  text-indent: -999em;
  color: #c00;
  margin: 0;
  padding: 4px 0 5px;
  width: 16px;
  background: url(../images/style/arrowdown.gif) 4px 50% no-repeat;
  cursor: pointer;
}

/* line 77, ../scss/layout.scss */
.special #columnOne li .toggle {
  background: url(../images/style-special/arrowdown.gif) 4px 50% no-repeat;
}

/* line 81, ../scss/layout.scss */
.ie7 #columnOne li .toggle + a {
  float: left;
  margin: 0;
  width: 175px;
}

/* line 87, ../scss/layout.scss */
#columnOne .expanded .toggle {
  background: url(../images/style/arrowdown.gif) 4px 50% no-repeat;
}

/* line 91, ../scss/layout.scss */
.special #columnOne .expanded .toggle {
  background: url(../images/style-special/arrowdown.gif) 4px 50% no-repeat;
}

/* line 95, ../scss/layout.scss */
#columnOne .closed .toggle {
  background: url(../images/style/arrowright.gif) 4px 50% no-repeat;
}

/* line 99, ../scss/layout.scss */
.special #columnOne .closed .toggle {
  background: url(../images/style-special/arrowright.gif) 4px 50% no-repeat;
}

/* line 103, ../scss/layout.scss */
#columnOne ul ul {
  margin-bottom: 0;
}

/* line 107, ../scss/layout.scss */
.ie7 #columnOne ul ul {
  width: 100%;
}

/* line 112, ../scss/layout.scss */
#columnOne .closed > ul {
  display: none;
}
/* line 115, ../scss/layout.scss */
#columnOne li li {
  padding: 0;
  font-size: .9em;
  border: none;
  padding-left: 9px;
}

/* line 123, ../scss/layout.scss */
.ie7 #columnOne li ul.menu {
  padding-bottom: 5px;
}

/* line 128, ../scss/layout.scss */
#columnOne .expanded li {
  padding-bottom: 0;
}
/* line 131, ../scss/layout.scss */
#columnOne .hoverable li {
  padding: 0;
}
/* line 134, ../scss/layout.scss */
#columnOne li li a {
  margin: 0 0 0 16px;
  padding: 2px 0;
}

/* line 140, ../scss/layout.scss */
.ie7 li li.first {
  width: 180px;
}

/* line 144, ../scss/layout.scss */
#columnOne li li .toggle {
  padding: 2px 0;
}

/* line 148, ../scss/layout.scss */
.ie7 #columnOne li li .toggle + a {
  float: left;
  margin: 0;
  width: 164px;
}

/* line 154, ../scss/layout.scss */
#columnOne li li li {
  font-size: inherit;
}
/* line 156, ../scss/layout.scss */
#columnOne li li li a {
  margin: 0;
  padding: 2px 0 2px 16px;
  background: url(../images/style/blackbullet.gif) 7px 8px no-repeat;
}
/* line 161, ../scss/layout.scss */
#columnOne li li li.active a {
  background-image: url(../images/style/redbullet.gif);
}

/* line 166, ../scss/layout.scss */
.ie7 #columnOne li li li .toggle + a {
  float: left;
  margin: 0;
  width: 139px;
  padding-left: 0px;
  background-image: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column Two
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 179, ../scss/layout.scss */
#columnTwo img, #columnTwo iframe {
  border: 1px solid #999;
  margin-bottom: 1em;
}
/* line 183, ../scss/layout.scss */
#columnTwo h2 {
  margin-top: 0;
}

/* line 188, ../scss/layout.scss */
#columnOne h2, #columnTwo h2 {
  margin-top: 0;
  font: normal 1.5em / 1.1em HelveticaNeue67MdCn, Verdana, sans-serif;
  color: #333;
}

/* line 194, ../scss/layout.scss */
#columnOne h2 a {
  color: #333;
}

/* line 198, ../scss/layout.scss */
#columnTwo .button {
  margin-bottom: 9px;
}
/* line 200, ../scss/layout.scss */
#columnTwo .button img {
  margin-bottom: 0;
}
/* line 203, ../scss/layout.scss */
#columnTwo .button.give img {
  border: 0;
}

/* line 211, ../scss/layout.scss */
#block-block-9 {
  position: absolute;
  top: 0;
  left: 37px;
}
/* line 215, ../scss/layout.scss */
#block-block-9 a.logo {
  display: block;
  background: url(../images/style/fdlp_logo.png) no-repeat left top transparent;
  height: 59px;
  width: 161px;
  text-indent: -99999em;
}
/* line 222, ../scss/layout.scss */
#block-block-9 p {
  margin: 0;
  padding: 0;
}

/* line 228, ../scss/layout.scss */
#block-block-10 p {
  margin: 0;
  padding: 0;
  display: inline;
}

/* line 234, ../scss/layout.scss */
.region-footer a {
  color: #666;
}

/* line 239, ../scss/layout.scss */
#block-block-10 p.last, #block-block-10 p:last-child {
  margin-right: 0;
}
