/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Modules
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Accordion Module === === === === === === === === === === === === === === === === === === === === === === === === === */
/* line 7, ../scss/modules.scss */
.accordion {
  padding: 10px 10px 0;
  background-color: #fff;
}

/* line 11, ../scss/modules.scss */
.accordion li {
  padding: 6px 0;
  margin: 0;
  border-top: 1px solid #ccc;
  list-style: none;
}

/* line 18, ../scss/modules.scss */
.accordion li.first,
.accordion li:first-child {
  border: 0 none;
  padding-top: 0;
}

/* line 22, ../scss/modules.scss */
.accordion .opener {
  font: normal 1.6em/1.1em HelveticaNeue57Condensed,Verdana,sans-serif;
  color: #333;
  display: block;
  padding-bottom: 4px;
}

/* line 28, ../scss/modules.scss */
.accordion li.closed .opener {
  background: url(../images/style/icon_redplus.gif) top right no-repeat;
}

/* line 32, ../scss/modules.scss */
.accordion li.open .opener,
.accordion li.current .opener {
  background: url(../images/style/icon_redminus.gif) top right no-repeat;
}

/* line 35, ../scss/modules.scss */
.accordion .opener:hover {
  text-decoration: none;
}

/* line 38, ../scss/modules.scss */
.accordion .closed .detail {
  overflow: hidden;
  height: 0;
}

/* line 42, ../scss/modules.scss */
.accordion ul {
  overflow: hidden;
}

/* line 45, ../scss/modules.scss */
.accordion li li {
  padding: 0 0 5px 10px;
  border: 0 none;
}

/* line 50, ../scss/modules.scss */
.accordion li li.first,
.accordion li li:first-child {
  margin-top: 5px;
}

/* line 53, ../scss/modules.scss */
.accordion li li a {
  color: #333;
}

/* Accordion Module Variant=== === === === === === === === === === === === === === === === === === === === === === === === === */
/* line 59, ../scss/modules.scss */
#leftNav.accordion {
  padding: 0;
  background-color: #fff;
}

/* line 63, ../scss/modules.scss */
#leftNav.accordion li {
  padding: 6px 0;
  margin: 0;
  border-top: 0;
  list-style: none;
}

/* line 70, ../scss/modules.scss */
.accordion li.first,
.accordion li:first-child {
  border: 0 none;
  padding-top: 0;
}

/* line 74, ../scss/modules.scss */
.accordion .opener {
  font: normal 1.6em/1.1em HelveticaNeue57Condensed,Verdana,sans-serif;
  color: #333;
  display: block;
  padding-bottom: 4px;
}

/* line 80, ../scss/modules.scss */
.accordion li.closed .opener {
  background: url(../images/style/icon_redplus.gif) top right no-repeat;
}

/* line 84, ../scss/modules.scss */
.accordion li.open .opener,
.accordion li.current .opener {
  background: url(../images/style/icon_redminus.gif) top right no-repeat;
}

/* line 87, ../scss/modules.scss */
.accordion .opener:hover {
  text-decoration: none;
}

/* line 90, ../scss/modules.scss */
.accordion .closed .detail {
  overflow: hidden;
  height: 0;
}

/* line 94, ../scss/modules.scss */
.accordion ul {
  overflow: hidden;
}

/* line 97, ../scss/modules.scss */
.accordion li li {
  padding: 0 0 5px 10px;
  border: 0 none;
}

/* line 102, ../scss/modules.scss */
.accordion li li.first,
.accordion li li:first-child {
  margin-top: 5px;
}

/* line 105, ../scss/modules.scss */
.accordion li li a {
  color: #333;
}

/* Large List Module === === === === === === === === === === === === === === === === === === === === === === */
/* line 112, ../scss/modules.scss */
.largeList {
  margin: 20px 0 28px;
}

/* line 116, ../scss/modules.scss */
.largeList li {
  border-bottom: 1px solid #c4b996;
  list-style-type: none;
  margin: 0;
}

/* line 121, ../scss/modules.scss */
.largeList li.clock {
  background: url(../images/style/icon_reserve.gif) 6px 4px no-repeat;
}

/* line 122, ../scss/modules.scss */
.largeList li.arrows {
  background: url(../images/style/icon_renew.gif) 6px 4px no-repeat;
}

/* line 123, ../scss/modules.scss */
.largeList li.file_drawer {
  background: url(../images/style/icon_course.gif) 6px 4px no-repeat;
}

/* line 124, ../scss/modules.scss */
.largeList li.pencil {
  background: url(../images/style/icon_cite.gif) 6px 4px no-repeat;
}

/* line 125, ../scss/modules.scss */
.largeList li.ill_arrow {
  background: url(../images/style/icon_loan.gif) 6px 4px no-repeat;
}

/* line 126, ../scss/modules.scss */
.largeList li a {
  padding: 6px 10px 7px 32px;
  display: block;
  color: #333;
  font: normal 1.6em/1.1em HelveticaNeue57Condensed,Verdana,sans-serif;
}

/* Texture Box Module === === === === === === === === === === === === === === === === === === === === === === */
/* line 136, ../scss/modules.scss */
.textureBox {
  padding: 15px 10px;
  background: white url(../images/style/snell_texture.jpg) top left no-repeat;
  margin-bottom: 9px;
  border: 1px solid #c5bb98;
}

/* line 142, ../scss/modules.scss */
.special .textureBox {
  border: none;
}

/* Small List Module === === === === === === === === === === === === === === === === === === === === === === */
/* line 148, ../scss/modules.scss */
.smallList {
  margin: 10px 0 0;
}

/* line 152, ../scss/modules.scss */
.smallList li {
  list-style-type: none;
  margin: 0;
  padding: 2px 0;
}

/* line 157, ../scss/modules.scss */
.smallList li a {
  background: url(../images/style/redarrow.gif) no-repeat scroll right 4px transparent;
  font: normal 1.4em/1.2em HelveticaNeue57Condensed,Verdana,sans-serif;
  padding: 0 8px 0 0;
}

/* Textbox Modules === === === === === === === === === === === === === === === === === === === === === === */
/* line 166, ../scss/modules.scss */
.textbox,
#columnTwo .block-aggregator {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 9px;
}

/* line 171, ../scss/modules.scss */
.textbox .date-display-single {
  font-weight: bold;
}

/* line 172, ../scss/modules.scss */
.textbox .hours {
  padding-bottom: 0;
  font-size: 1.3em;
}

/* line 176, ../scss/modules.scss */
.textbox li {
  background: transparent url(../images/style/listbul_c00_sm.gif) no-repeat 0px 5px;
  line-height: 1.4em;
  list-style-type: none;
  margin: 0 0 0.6em 0;
  padding: 0 0 0 9px;
}

/* line 184, ../scss/modules.scss */
.textbox p,
#columnTwo .block-aggregator p {
  line-height: 1.3em;
}

/* line 187, ../scss/modules.scss */
.textbox.address p strong {
  color: #666666;
}

/* line 188, ../scss/modules.scss */
.textbox.address {
  padding: 10px 7px;
}

/* Carousel Module === === === === === === === === === === === === === === === === === === === === === === */
/* line 191, ../scss/modules.scss */
.carousel {
  position: relative;
  overflow: hidden;
  width: 348px;
}

/* line 196, ../scss/modules.scss */
.carouselTrack {
  position: relative;
  overflow: hidden;
  width: 999em;
  margin-left: 0;
  /*-webkit-transition: margin-left .6s ease;
  -moz-transition: margin-left .6s ease;
  transition: margin-left .6s ease;*/
}

/*.carouselPos2 {margin-left:-348px;}
.carouselPos3 {margin-left:-696px;}
.carouselPos4 {margin-left:-1044px;}
.carouselPos5 {margin-left:-1392px;}*/
/* line 209, ../scss/modules.scss */
.carousel .item {
  float: left;
  width: 348px;
  overflow: hidden;
}

/* line 214, ../scss/modules.scss */
.carouselNav {
  width: 267px;
  height: 23px;
  background: url(../images/style/carousel_line.gif) top left repeat-x;
  list-style: none;
  margin: 15px 0 10px 44px;
}

/* line 221, ../scss/modules.scss */
.carouselNav li {
  position: relative;
  margin-left: 43px;
  float: left;
  list-style-type: none;
  background: url(../images/style/carousel_reddot.gif) center center no-repeat;
}

/* line 228, ../scss/modules.scss */
.carouselNav li:first-child {
  margin-left: -10px;
}

/* line 231, ../scss/modules.scss */
.carouselNav li.last {
  margin-right: -10px;
}

/* line 234, ../scss/modules.scss */
.carouselNav li a {
  width: 23px;
  height: 23px;
  display: block;
  text-indent: -999em;
  opacity: 0;
  -webkit-transition: opacity .6s ease-in;
  -moz-transition: opacity .6s ease-in;
  transition: opacity .6s ease-in;
}

/* line 245, ../scss/modules.scss */
.carouselNav li.active a,
.carouselNav li a:hover {
  background: url(../images/style/carousel_graydot.gif) top left no-repeat;
  opacity: 1;
}

/* Carousel Module Exhibit variant === === === === === === === === === === === === === === === === === === === === === === */
/* line 253, ../scss/modules.scss */
#exhCar.carousel {
  width: 639px;
  margin: 0 0 25px;
}

/* line 257, ../scss/modules.scss */
#exhCar .carouselTrack {
  background-color: #c3c3c3;
  height: 390px;
}

/*#exhCar .carouselPos2 {margin-left:-639px;}
#exhCar .carouselPos3 {margin-left:-1278px;}
#exhCar .carouselPos4 {margin-left:-1917px;}
#exhCar .carouselPos5 {margin-left:-2556px;}
#exhCar .carouselPos6 {margin-left:-3195px;}
#exhCar .carouselPos7 {margin-left:-3834px;}
#exhCar .carouselPos8 {margin-left:-4473px;}*/
/* line 269, ../scss/modules.scss */
#exhCar.carousel .item {
  width: 639px;
}

/* line 272, ../scss/modules.scss */
#exhCar.carousel .item img {
  margin: 0;
}

/* line 275, ../scss/modules.scss */
#exhCar.carousel .item.image img {
  margin: 0 auto;
  display: block;
}

/* line 279, ../scss/modules.scss */
#exhCar.carousel .item.image_plus_text .image {
  float: left;
  margin: 28px 0 28px 15px;
}

/* line 283, ../scss/modules.scss */
#exhCar.carousel .item.image_plus_text .text {
  background-color: #fff;
  color: #333;
  float: right;
  width: 205px;
  height: 324px;
  margin: 28px 15px 28px 0;
  padding-bottom: 10px;
  font-size: 10px;
  overflow-y: scroll;
}

/* line 294, ../scss/modules.scss */
#exhCar.carousel .item.image_plus_text dt {
  font: normal 1.8em/1.1em "Times New Roman",Times,Georgia,sans-serif;
  margin: 16px 12px 9px;
}

/* line 298, ../scss/modules.scss */
#exhCar.carousel .item.image_plus_text dd {
  margin: 0 12px;
  line-height: 15px;
}

/* line 302, ../scss/modules.scss */
#exhCar.carousel .item.image_plus_text dd .subhead_1 {
  color: #000;
  font-size: 12px;
  font-style: italic;
}

/* line 307, ../scss/modules.scss */
#exhCar.carousel .item.image_plus_text dd .subhead_2 {
  color: #666;
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
}

/* line 313, ../scss/modules.scss */
#exhCar .carouselNav {
  width: 470px;
  margin: 15px auto 10px;
}

/* Carousel Module Showcase variant === === === === === === === === === === === === === === === === === === === === === === */
/* line 319, ../scss/modules.scss */
#shoCar.carousel {
  width: 431px;
}

/*#shoCar .carouselPos2 {margin-left:-431px;}
#shoCar .carouselPos3 {margin-left:-862px;}
#shoCar .carouselPos4 {margin-left:-1293px;}
#shoCar .carouselPos5 {margin-left:-1724px;}*/
/* line 327, ../scss/modules.scss */
#shoCar.carousel .item {
  width: 431px;
}

/* line 331, ../scss/modules.scss */
#shoCar.carousel .item .image img,
#shoCar.carousel .item .image iframe {
  margin: 0 auto;
  display: block;
  border: 1px solid #999;
}

/* line 336, ../scss/modules.scss */
#shoCar.carousel .item .caption {
  color: #666666;
  font-size: 10px;
  font-style: italic;
}

/* line 341, ../scss/modules.scss */
#shoCar .carouselNav {
  margin: 5px auto 10px;
}

/* Carousel Module Archive Lander variant === === === === === === === === === === === === === === === === === === === === === === */
/* line 346, ../scss/modules.scss */
#landCar.carousel {
  width: 654px;
}

/*#landCar .carouselPos2 {margin-left:-654px;}
#landCar .carouselPos3 {margin-left:-1308px;}
#landCar .carouselPos4 {margin-left:-1962px;}
#landCar .carouselPos5 {margin-left:-2616px;}*/
/* line 354, ../scss/modules.scss */
#landCar.carousel .item {
  width: 654px;
  height: 216px;
  position: relative;
}

/* line 360, ../scss/modules.scss */
#landCar.carousel .item .image img,
#landCar.carousel .item .image iframe {
  margin: 0;
  display: block;
  border: 1px solid #666;
}

/* line 365, ../scss/modules.scss */
#landCar.carousel .text {
  background-color: #fff;
  padding: 12px 10px 5px 15px;
  width: 180px;
  height: 199px;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 374, ../scss/modules.scss */
#landCar.carousel .text h3 {
  margin: 2px 10px 14px 0;
}

/* line 377, ../scss/modules.scss */
#landCar.carousel .text p {
  line-height: 1.5em;
}

/* line 380, ../scss/modules.scss */
#landCar .carouselNav {
  margin: -11px 0 0 82px;
  background-image: url(../images/style/carousel_line2.gif);
}

/* line 384, ../scss/modules.scss */
#landCar .carouselNav li {
  background-image: url(../images/style/carousel_reddot2.gif);
}

/* line 388, ../scss/modules.scss */
#landCar .carouselNav li.active a,
#landCar .carouselNav li a:hover {
  background-image: url(../images/style/carousel_graydot2.gif);
}

/* Large Social Icons Module === === === === === === === === === === === === === === === === === === === === === === === === === */
/* line 395, ../scss/modules.scss */
.region-social-networking {
  clear: both;
  padding-top: 30px;
}

/* line 399, ../scss/modules.scss */
#block-menu-menu-social-networking {
  position: static;
  height: 26px;
  width: auto;
  text-align: right;
  background: none;
}

/* line 409, ../scss/modules.scss */
.dmdsTypical #block-menu-menu-social-networking,
.archives #block-menu-menu-social-networking,
.node-type-poll #block-menu-menu-social-networking,
.section-services #block-menu-menu-social-networking {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 414, ../scss/modules.scss */
.section-news-events.node-type-exhibit #block-menu-menu-social-networking {
  margin-right: 23px;
}

/* line 416, ../scss/modules.scss */
.sidebar-second #block-menu-menu-social-networking,
.two-sidebars #block-menu-menu-social-networking {
  position: absolute;
  height: 56px;
  width: 195px;
  right: 14px;
  bottom: 6px;
}

/* line 423, ../scss/modules.scss */
#block-menu-menu-social-networking h2 {
  font: normal 1.5em/1.1em HelveticaNeue57Condensed,Verdana,sans-serif;
  color: #333;
  float: none;
  text-align: right;
  width: auto;
  margin: 0 10px 0 0;
  display: inline;
}

/* line 433, ../scss/modules.scss */
.sidebar-second #block-menu-menu-social-networking h2,
.two-sidebars #block-menu-menu-social-networking h2 {
  float: left;
  width: 38px;
  margin-top: 0;
}

/* line 438, ../scss/modules.scss */
#block-menu-menu-social-networking .content {
  float: right;
  width: 232px;
  margin: 0;
}

/* line 444, ../scss/modules.scss */
.sidebar-second #block-menu-menu-social-networking .content,
.two-sidebars #block-menu-menu-social-networking .content {
  float: left;
  width: 120px;
}

/* line 448, ../scss/modules.scss */
#block-menu-menu-social-networking .content li {
  float: left;
  margin: 0 3px 4px 0;
  list-style: none;
}

/* line 453, ../scss/modules.scss */
#block-menu-menu-social-networking .content a {
  display: block;
  height: 26px;
  width: 26px;
  text-indent: -99999em;
  background: url(../images/style/social_icons_sprite.png) no-repeat 0 0;
}

/* line 460, ../scss/modules.scss */
#block-menu-menu-social-networking ul li a.rss {
  background-position: 0 0px;
}

/* line 461, ../scss/modules.scss */
#block-menu-menu-social-networking ul li a.facebook {
  background-position: -29px 0px;
}

/* line 462, ../scss/modules.scss */
#block-menu-menu-social-networking ul li a.twitter {
  background-position: -58px 0px;
}

/* line 463, ../scss/modules.scss */
#block-menu-menu-social-networking ul li a.youtube {
  background-position: -87px 0px;
}

/* line 464, ../scss/modules.scss */
#block-menu-menu-social-networking ul li a.flickr {
  background-position: -116px 0px;
}

/* line 465, ../scss/modules.scss */
#block-menu-menu-social-networking ul li a.libx {
  background-position: -145px 0px;
}

/* line 466, ../scss/modules.scss */
#block-menu-menu-social-networking ul li a.itunes {
  background-position: -174px 0px;
}

/* line 467, ../scss/modules.scss */
#block-menu-menu-social-networking ul li a.snippets {
  background-position: -203px 0px;
}
