/**
 * @file
 * Navigation Styling
 */
/*
 * The active item in a Drupal menu
 */
/* line 10, ../scss/navigation.scss */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
/* line 17, ../scss/navigation.scss */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

/* line 22, ../scss/navigation.scss */
#navigation ul.links,
#navigation .content ul {
  margin: 0;
  padding: 0;
  text-align: left;
  /* LTR */
}

/* line 29, ../scss/navigation.scss */
#navigation ul.links li,
#navigation .content li {
  float: left;
  /* LTR */
  padding: 0 10px 0 0;
  /* LTR */
}

/*
 * Main menu and Secondary menu links
 */
/* line 43, ../scss/navigation.scss */
#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
