/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 13, ../scss/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 28, ../scss/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 44, ../scss/pages.scss */
#logo {
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}

/* line 51, ../scss/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 55, ../scss/pages.scss */
#name-and-slogan {
  float: left;
}

/* line 60, ../scss/pages.scss */
h1#site-name,
div#site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

/* line 67, ../scss/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

/* line 73, ../scss/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 79, ../scss/pages.scss */
.region-header {
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 100, ../scss/pages.scss */
.breadcrumb {
  padding-bottom: 0;
  /* Undo system.css */
}

/* line 110, ../scss/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  margin: 0;
}

/* line 114, ../scss/pages.scss */
tr.even {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 119, ../scss/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 124, ../scss/pages.scss */
div.messages {
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}

/* line 129, ../scss/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 137, ../scss/pages.scss */
div.warning,
tr.warning {
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 145, ../scss/pages.scss */
.error {
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 150, ../scss/pages.scss */
.warning {
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 165, ../scss/pages.scss */
ul.links.inline {
  display: block;
  /* Let the links be inline, but the container be a block. */
}

/* line 170, ../scss/pages.scss */
ul.links li {
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 175, ../scss/pages.scss */
.item-list .pager {
  padding: 0;
}

/* line 179, ../scss/pages.scss */
.item-list .pager li {
  padding: 0 0.5em;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
