/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Reset + Base, all wrapped into one goodie
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 5, ../scss/reset-base.scss */
a {
  color: #c00;
  text-decoration: none;
}
/* line 8, ../scss/reset-base.scss */
a:link, a:visited {
  color: #c00;
  text-decoration: none;
}
/* line 12, ../scss/reset-base.scss */
a:hover {
  text-decoration: underline;
}
/* line 15, ../scss/reset-base.scss */
a:focus, a:active {
  outline: 0 none;
}

/* line 20, ../scss/reset-base.scss */
em, i {
  font-style: italic;
}

/* line 24, ../scss/reset-base.scss */
strong, b {
  font-weight: bold;
}

/* line 28, ../scss/reset-base.scss */
p, code {
  margin: 0;
  padding: 0 0 1.2em;
}

/* line 33, ../scss/reset-base.scss */
p.image-holder {
  padding: 0;
}

/* line 37, ../scss/reset-base.scss */
#mainContent p {
  padding: 0 0 .5em;
}

/* line 41, ../scss/reset-base.scss */
ol, ul, dl {
  margin: 0 0 1.5em;
  padding: 0;
}

/* line 46, ../scss/reset-base.scss */
dt {
  margin: 0;
  padding: 0;
}

/* line 54, ../scss/reset-base.scss */
dl dd {
  margin: 0 0 .7em;
  padding: 0;
}

/* line 59, ../scss/reset-base.scss */
blockquote, q {
  margin: 0;
  padding: 20px 16px 10px 47px;
  font: italic 2.2em / 1.1em Times, "Times New Roman", Georgia, serif;
  color: #333;
  width: 207px;
  background: #ecebe8 url(../images/style/bigquote.gif) top left no-repeat;
}

/* line 69, ../scss/reset-base.scss */
.special blockquote, .special q {
  background: #f2f1ea url(../images/style-special/bigquote.gif) top left no-repeat;
}

/* line 75, ../scss/reset-base.scss */
q:before, q:after {
  content: '';
}

/* line 80, ../scss/reset-base.scss */
blockquote cite, q cite {
  display: block;
}

/* line 84, ../scss/reset-base.scss */
h1 {
  margin: 0 0 8px;
  padding: 0;
  font: normal 1.9em / 1.1em HelveticaNeue67MdCn, Verdana, sans-serif;
}

/* line 90, ../scss/reset-base.scss */
h2 {
  font: normal 18px / 1.1em HelveticaNeue67MdCn, Verdana, sans-serif;
  margin: 10px 0 5px;
  padding: 0;
}

/* line 96, ../scss/reset-base.scss */
h3 {
  color: #000000;
  font: 18px / 1.1em "Times New Roman", Times, Georgia, sans-serif;
  margin: 10px 0 5px;
  padding: 0;
}

/* line 103, ../scss/reset-base.scss */
h4 {
  color: #000000;
  font: 1.2em / 1.1em Verdana, Arial, sans-serif;
  margin: 10px 0 5px;
  padding: 0;
}

/* line 110, ../scss/reset-base.scss */
#columnTwo h4 {
  font: normal 1.5em / 1.1em HelveticaNeue67MdCn, Verdana, sans-serif;
  color: #333;
}

/* line 115, ../scss/reset-base.scss */
#columnOne h2 {
  font: normal normal 1.5em / 1.1em HelveticaNeue67MdCn, Verdana, sans-serif;
  margin: 10px 0 5px;
  padding: 0;
  color: #333;
}

/* line 122, ../scss/reset-base.scss */
h5 {
  font: bold 1em / 1.1em Verdana, Arial, sans-serif;
  margin: 10px 0 5px;
  padding: 0;
  color: #666;
  text-transform: uppercase;
}

/* line 130, ../scss/reset-base.scss */
h6 {
  font: bold 1em / 1.1em Verdana, Arial, sans-serif;
  margin: 10px 0 5px;
  padding: 0;
  color: #666;
}

/* line 137, ../scss/reset-base.scss */
caption {
  margin: 0.5em;
  text-align: left;
}

/* line 142, ../scss/reset-base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 1em;
  border: 0;
  background-color: white;
}

/* line 151, ../scss/reset-base.scss */
th, td {
  margin: 0;
  padding: 4px 5px 3px;
  border: 1px solid #ccc;
  text-align: left;
}

/* line 158, ../scss/reset-base.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 163, ../scss/reset-base.scss */
td {
  vertical-align: top;
}

/* line 167, ../scss/reset-base.scss */
tr.evenRow td {
  background-color: #fafafa;
}

/* line 172, ../scss/reset-base.scss */
tbody tr:hover td, tbody tr:hover th {
  background: #ecebe8;
}

/* line 178, ../scss/reset-base.scss */
.special tbody tr:hover td, .special tbody tr:hover th {
  background: #eee;
}

/* line 183, ../scss/reset-base.scss */
form {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 189, ../scss/reset-base.scss */
fieldset {
  padding: 0.5em;
  margin: 1em 0;
  border: 1px solid #ccc;
}

/* line 195, ../scss/reset-base.scss */
legend {
  padding: 0 0.25em;
  font-weight: bold;
}

/* line 200, ../scss/reset-base.scss */
label, .webform-client-form label {
  margin: 0;
  padding: 3px;
  display: inline-block;
  vertical-align: middle;
}

/* line 207, ../scss/reset-base.scss */
textarea {
  margin: 0 0 1em;
  padding: 0;
  vertical-align: top;
  font: 12px / 12px Tahoma, Geneva, Verdana, sans-serif;
  width: 350px;
  color: #333;
  border: 1px solid #999;
}

/* line 217, ../scss/reset-base.scss */
select {
  margin: 0 0 1em;
  vertical-align: middle;
  font: 12px / 12px Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  border: 1px solid #999;
}

/* line 225, ../scss/reset-base.scss */
input {
  vertical-align: middle;
}
/* line 227, ../scss/reset-base.scss */
input.form-text {
  margin: 0 0 1em;
  padding: 2px 3px;
  font: 12px / 12px Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  border: 1px solid #999;
}
/* line 234, ../scss/reset-base.scss */
input[type=button], input[type=submit], input[type=reset] {
  cursor: pointer;
}
/* line 237, ../scss/reset-base.scss */
input[type=text]:focus {
  color: black;
  border: 1px solid black;
}

/* line 243, ../scss/reset-base.scss */
textarea:focus {
  color: black;
  border: 1px solid black;
}

/* line 250, ../scss/reset-base.scss */
input[type=text][disabled], input[type=button][disabled], input[type=submit][disabled], input[type=reset][disabled] {
  color: #666;
}

/* line 256, ../scss/reset-base.scss */
label input, label select, label textarea {
  margin: 0 0.5em;
}
/* line 260, ../scss/reset-base.scss */
label input[type="radio"], label input[type="checkbox"] {
  margin: 0 0.5em 0 0;
}

/* line 266, ../scss/reset-base.scss */
img {
  margin: 0 0 1.2em;
  border: 0;
}

/* line 271, ../scss/reset-base.scss */
pre {
  margin: 0 0 1.2em;
  padding: 0;
  font-size: 1em;
}

/* line 277, ../scss/reset-base.scss */
address, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

/* line 282, ../scss/reset-base.scss */
abbr, acronym {
  font-variant: normal;
  cursor: help;
  border-bottom: 1px dotted #000;
}

/* line 288, ../scss/reset-base.scss */
sup {
  vertical-align: text-top;
  font-size: 0.6em;
  position: relative;
  top: -0.4em;
}

/* line 295, ../scss/reset-base.scss */
sub {
  vertical-align: text-bottom;
}

/* line 299, ../scss/reset-base.scss */
.left {
  float: left;
  margin: 0 12px 10px 0;
}

/* line 304, ../scss/reset-base.scss */
#columnTwo .left img {
  margin-bottom: 0;
}

/* line 308, ../scss/reset-base.scss */
.right {
  float: right;
  margin: 0 0 10px 12px;
}

/* CLEARFIX: SEE: http://perishablepress.com/press/2009/12/06/new-clearfix-hack/ */
/* line 315, ../scss/reset-base.scss */
.spotlight:after, .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 326, ../scss/reset-base.scss */
* html .clearfix, * html .spotlight {
  zoom: 1;
}
/* line 331, ../scss/reset-base.scss */
*:first-child + html .clearfix, *:first-child + html .spotlight {
  zoom: 1;
}

/* IE6 */
/* IE7 */
/* line 340, ../scss/reset-base.scss */
br.clearfix {
  clear: both;
  width: 100%;
  height: 0;
  overflow: hidden;
}

/* line 347, ../scss/reset-base.scss */
.clear {
  clear: both;
  height: 0;
}

/* line 352, ../scss/reset-base.scss */
.clear-both {
  clear: both;
}

/* line 356, ../scss/reset-base.scss */
hr {
  margin: 0 0 1.2em;
  border: 0 none;
}

@font-face {
  font-family: "HelveticaNeue67MdCn";
  src: url("../fonts/helveticaneue-mediumcond-webfont.eot");
  src: url("../fonts/helveticaneue-mediumcond-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-mediumcond-webfont.woff") format("woff"), url("../fonts/helveticaneue-mediumcond-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-mediumcond-webfont.svg#HelveticaNeue67MdCn") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue57Condensed";
  src: url("../fonts/helveticaneue-condensed-webfont.eot");
  src: url("../fonts/helveticaneue-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-condensed-webfont.woff") format("woff"), url("../fonts/helveticaneue-condensed-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-condensed-webfont.svg#HelveticaNeue57Condensed") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 379, ../scss/reset-base.scss */
.arrow a, a.arrow {
  padding-left: 10px;
  background: url(../images/style/redarrow2.gif) 0 3px no-repeat;
}
