/* NU footer */

#block-block-22 {
  margin: 30px 0 0 -170px;
}

#nu-footer {
  * {
    font-family: helvetica,arial,sans-serif;
  }
  border-top: 1px solid #666;
  padding-top: 20px;
  background: none repeat scroll 0 0 #E9E8E5;
  height: auto;
  width: 900px;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 16px;
}

.special #nu-footer {
  background: none repeat scroll 0 0 white;
}

#nu-footer {
  img {
    margin: 0;
    padding: 10px 0px 0px 0px;
    vertical-align: middle;
  }
  .links {
    float: left;
    width: 510px;
    margin-top: 5px;
  }
  .social-networking-icons {
    margin-left: 125px;
    float: left;
    width: 66px;
  }
  p, a {
    font-size: 10px;
    color: #666666;
  }
  p {
    clear: both;
    width: 600px;
    margin: 5px 0 0 150px;
    text-align: center;
  }
  a {
    &.logo {
      background: url("../images/nu-footer/logo-red.png") no-repeat scroll left top transparent;
      display: inline;
      float: left;
      height: 17px;
      width: 173px;
      text-decoration: none;
      font-color: none;
      padding: 0 10px 0;
      margin-top: 6px;
      margin-left: 6px;
      &:hover {
        background: url("../images/nu-footer/NUlogo-rollover-footer.png") no-repeat scroll left top transparent;
      }
    }
    &.facebook img {
      float: right;
      padding-top: 6px;
      text-decoration: none;
      font-color: none;
    }
    &.twitter img, &.youtube img {
      float: right;
      padding-left: 6px;
      padding-top: 6px;
      text-decoration: none;
      font-color: none;
    }
  }
}
