// @file scss/corrections.scss

.field-collection-container,
.field-collection-container .field-items .field-item,
.field-collection-view,
.block {
  border: none;
  margin: 0;
  padding:0;
}

.region-sidebar-first {
  min-height: 500px;
}