/**
 * @file
 * Form Styling
 */

.form-item {
  margin: 1.5em 0;
  input.error, textarea.error, select.error {
    border: 1px solid #c00;
  }
  label {
    display: block;
    font-weight: bold;
    &.option {
      display: inline;
      font-weight: normal;
    }
  }
}

.form-required {
  color: #c00;
}

.form-item .description {
  font-size: 0.85em;
}

.form-checkboxes .form-item, .form-radios .form-item {
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

.form-submit! {}

.container-inline {
  div, label {
    display: inline;
  }
}

.tips! {}

/*
 * Password confirmation
 */

.password-parent, .confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form! {}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left;
  /* LTR */
  ul {
    margin-bottom: 0;
    /* Position OpenID's ul next to the rest of the links. */
  }
}

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

html.js #user-login-form li.openid-link {
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}

#user-login-form li {
  &.openid-link {
    margin-top: 1.5em;
    margin-left: -20px;
    // /* LTR */
    // /* Un-do some of the padding on the ul list. */
  }
  &.user-link {
    margin-top: 1.5em;
  }
}

#user-login ul {
  margin: 1.5em 0;
}


 // * Drupal admin tables
 // *
 // * We overrode these styles in html-reset.css, but restore them for the admin
 // * section of the site.
 

form {
  th{
    text-align: left;
    /* LTR */
    padding-right: 1em;
    /* LTR */
    border-bottom: 3px solid #ccc;
  }
  tbody {
    border-top: 1px solid #ccc;
  }
  tr.even {
    background-color: #fff;
  }
  table .item-list ul {
    margin: 0;
  }
}
