.field-collection-view-links {
  display: none;
}

p div {
  display: inline;
}

h1#page-title {
  width: 540px;
}

.two-sidebars h1#page-title {
  width: 330px;
}

/* The Image Caption module sets the class for us, so I need to update iFactory's CSS */

.photo .image-caption {
  color: #666666;
  font-size: 10px;
  font-style: italic;
  line-height: 1.2em;
}

.image-caption-container {
  height: auto !important;
}

/* Rather than rendering the intros and giving them the class of large (as styled by iFactory), */
/* let's just give it its style here */

.field-name-field-page-intro p, .field-name-field-ex-intro p, .field-name-field-wf-intro p {
  color: #666;
  font-size: 13px;
  line-height: 19px;
}

.view-press-releases.textbox .views-row {
  line-height: 1.3em;
  margin: 0;
  padding: 0 0 11px 0;
}

.views-row ul.links li {
  padding-right: 0;
  margin-left: 0;
}

/* Tip of the Day widget and single node view */

#block-views-tip-of-the-day-block .views-field-field-tip-text, .node-type-tip .field-name-field-tip-text {
  margin-top: 10px;
}

.view-id-tip_of_the_day .views-row {
  margin-bottom: 15px;
}

.views-field-field-tip-name {
  margin-right: -0.4em;
}

/* Events Calendar */

ul.calendar-links {
  display: none;
}

/* Upcoming Events widget */

.view-id-upcoming_events {
  .views-field-field-ev-text {
    margin-top: 5px;
  }
  .views-field-path {
    float: left;
  }
  .views-field-nothing {
    float: right;
  }
}

/* Resource lists */

.field-name-field-resource-announcement {
  font-style: italic;
}

.view-display-id-page_4 {
  .view-content h3 {
    border-top: 1px solid #999;
    padding-top: 5px;
  }
  .attachment {
    .view-content h3 {
      border-top: none;
      padding-top: 0;
      display: inline;
    }
    .views-row {
      display: none;
    }
  }
}

.view-resource-list {
  &.view-display-id-page_4 {
    h3 a:hover {
      text-decoration: none;
    }
    .attachment h3 a:hover {
      text-decoration: underline;
    }
  }
  .views-row.views-row-first {
    padding-top: 5px;
    border-top: 1px solid #999;
  }
}

.field-name-field-resource-mobile-link, .field-name-field-resource-apps-link {
  padding-left: 20px;
  background-repeat: no-repeat;
}

.mobile-link {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-image: url(../images/icons/phone.jpeg);
  padding-top: 1px;
  padding-bottom: 2px;
  margin-bottom: 1px;
}

.field-name-field-resource-mobile-link {
  background-image: url(../images/icons/phone.jpeg);
  padding-top: 1px;
  padding-bottom: 2px;
  margin-bottom: 1px;
}

.field-name-field-resource-apps-link {
  background-image: url(../images/icons/app.png);
}

.node-resource div {
  &.sound, &.music, &.video {
    text-indent: -999em;
    padding-left: 20px;
    background-repeat: no-repeat;
    float: right;
  }
  &.sound {
    background-image: url(../images/icons/sound.jpeg);
  }
  &.music {
    background-image: url(../images/icons/music.jpeg);
  }
  &.video {
    background-image: url(../images/icons/video.jpeg);
  }
}

.view-resource-list .share a {
  display: block;
  height: 23px;
  width: 30px;
  padding: 3px 0 0 20px;
  background: url(../images/style/icon_share.gif) top left no-repeat;
}

/* Polls */

.view-poll-list .views-row {
  margin-bottom: 20px;
}

#block-poll-recent {
  background: url(../images/style/bigquote.gif) top left no-repeat;
  padding: 20px 16px 10px 47px;
  background-color: #f0efee;
  width: 207px;
  h2.block-title {
    font: italic 2.2em / 1.1em Times, "Times New Roman", Georgia, serif;
  }
}

.node-type-poll h1#page-title {
  font: italic 2.2em / 1.1em Times, "Times New Roman", Georgia, serif;
}

#block-poll-recent {
  .links {
    display: none;
  }
  input {
    &[type=radio], &[type=checkbox] {
      margin: 0 0 0 6px;
    }
  }
}

.node-poll input {
  &[type=radio], &[type=checkbox] {
    margin: 0 0 0 6px;
  }
}

#block-poll-recent label, .node-poll label {
  margin-left: -3px;
}

#block-poll-recent .form-submit {
  margin-top: 5px;
  float: right;
  clear: both;
}

.node-poll .form-submit {
  margin-top: 15px;
  float: left;
  clear: both;
}

.poll .vote-form .choices {
  margin: 0;
}

/* Announcement block */

.view-announcement .views-field-nothing {
  clear: both;
}

/* Exhibit lists */

.view-exhibit-pager {
  .view-header, .view-content, h3, .views-row {
    float: left;
  }
  h3 {
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
    border-left: 1px solid #7a787a;
  }
  .view-header a, h3 a {
    line-height: 11px;
    font: 11px Verdana,Arial,sans-serif;
  }
}

.view-exhibit-lists {
  clear: both;
  padding-top: 5px;
  .field-name-field-ex-thumbnail {
    float: left;
    margin-right: 10px;
  }
}

#block-block-8 {
  height: 20px;
  margin-bottom: 10px;
  ul li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 1px 7px 0;
    border-right: 1px solid #a80000;
  }
  li.last {
    border: transparent none;
    padding-right: 0;
  }
}

/* DMDS items */

.view-dmds-item-lists {
  img {
    margin-bottom: 0;
  }
  .views-row {
    margin-bottom: 20px;
  }
}

/* Utility styles */

.red {
  color: #cc0000;
}

.black {
  color: #000000;
}

.black-light {
  color: #242424;
}

.black-dark {
  color: #333333;
}

.gray-dark-1 {
  color: #4e4e4e;
}

.gray-dark-2 {
  color: #666666;
}

.gray-medium-1 {
  color: #7d7d7d;
}

.gray-medium-2 {
  color: #c3c3c3;
}

.gray-light-1 {
  color: #dedede;
}

.gray-light-2 {
  color: #eeeeee;
}

.gray-light-3 {
  color: #f8f8f8;
}

.taupe-dark {
  color: #c4b996;
}

.taupe-medium {
  color: #d1cbb5;
}

.taupe-light-1 {
  color: #e6e3d6;
}

.taupe-light-2 {
  color: #f2f1ea;
}

/* Hiding the time element in the feed aggrigator. */

.block-aggregator time, .page-node-1 #page-title, .hidden {
  position: absolute;
  left: -9999px;
}

/*Adding css from the searchbox node content type*/

.radios {
  fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }
  label {
    font-size: 10px;
    font-weight: normal;
  }
  input {
    display: inline-block;
  }
}

.row {
  width: 100%;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

.span1 {
  width: 8.33%;
  float: left;
}

.span2 {
  width: 16.67%;
  float: left;
}

.span3 {
  width: 20%;
  float: left;
  margin: 0 1em 1em 0;
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.span4 {
  width: 33.33%;
  float: left;
}

.span5 {
  width: 41.67%;
  float: left;
}

.span6 {
  width: 50.00%;
  float: left;
}

.span7 {
  width: 58.33%;
  float: left;
}

.span8 {
  width: 66.67%;
  float: left;
}

.span9 {
  width: 72.00%;
  float: left;
}

.span10 {
  width: 83.33%;
  float: left;
}

.span11 {
  width: 91.67%;
  float: left;
}

.span12 {
  width: 100%;
  float: left;
}