@import 'reset-base.scss';
@import 'layout.scss';
@import 'modules.scss';
@import 'templates.scss';
@import 'blocks.scss';
@import 'forms.scss';
@import 'fields.scss';
@import 'corrections.scss';


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
IE Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.ie7 {
  #block-menu-menu-header-utility ul {
    margin-top: 10px;
  }
  .home #topbarInner2 {
    min-height: 100px;
    /* Hack to fix ie7 height-auto bug */
  }
}

.ie8 .region-page-tools, .ie7 .region-page-tools {
  margin-right: -33px;
}

.ie8 .bigSearch .search.typeMode {
  height: 33px;
  padding-top: 16px;
}

.ie7 {
  .bigSearch .search.typeMode {
    height: 33px;
    padding-top: 16px;
  }
  .region-content-top .bigSearch .search {
    padding: 5px 6px 3px;
    height: 30px;
  }
}

.ie8 .region-content-top .bigSearch .search, .ie7 .region-content-top .external_links .bigSearch .search {
  padding: 5px 6px 3px;
  height: 30px;
}

.ie8 .region-content-top {
  .external_links .bigSearch .search {
    padding: 5px 6px 3px;
    height: 30px;
  }
  .bigSearch .search.typeMode {
    font-size: 1.8em;
    height: 25px;
    padding-top: 10px;
  }
}

.ie7 .region-content-top .bigSearch .search.typeMode, .ie8 .region-content-top .external_links .bigSearch .search.typeMode, .ie7 .region-content-top .external_links .bigSearch .search.typeMode {
  font-size: 1.8em;
  height: 25px;
  padding-top: 10px;
}

.ie9 .region-content-top .bigSearch .search {
  width: 371px;
}

.ie7 {
  #block-nice-menus-1 {
    border-top: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
  .tabBox .tabNav li a.selected {
    border-bottom: 0;
    position: relative;
  }
}

.ie8 {
  .webform-client-form .status input, .form-radio {
    border: none;
  }
}

.ie7 {
  .webform-client-form .status input, .form-radio {
    border: none;
  }
}

.ie8 {
  .inputBox {
    margin-left: 105px;
    position: relative;
    bottom: 25px;
  }
  .comments input {
    border: none;
    width: 12px;
  }
}

.ie7 {
  .comments input {
    border: none;
    width: 12px;
  }
  .region-navigation-wrapper {
    position: relative;
    z-index: 1000;
  }
  #container {
    position: relative;
    z-index: 999;
  }
  .region-navigation {
    margin-top: 0;
    margin-bottom: 0;
    .megaMenu li.first {
      width: auto;
    }
  }
  .dmdsTypical #block-menu-menu-social-networking, .node-type-poll #block-menu-menu-social-networking {
    width: 325px;
  }
  .dmdsTypical #block-menu-menu-social-networking h2, .node-type-poll #block-menu-menu-social-networking h2 {
    float: left;
  }
  .view-id-dmds_item_lists .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 20px;
  }
  .view-exhibit-lists {
    h3 {
      margin-top: 0;
    }
    .node-exhibit {
      margin-top: 10px;
    }
  }
}

.ie8 #block-poll-recent {
  width: 217px;
  padding-left: 37px;
}

.ie7 {
  #block-poll-recent {
    width: 217px;
    padding-left: 37px;
  }
  .page-find-resources-databases .views-row .accordion .opener {
    padding-top: 0;
  }
}

/* Search and Browse widgets -- skinny version, ie in region-content-top */

.region-content-top {
  .bigSearch {
    width: auto;
    padding: 12px 10px 0 10px;
    font-family: Arial,sans-serif;
    font-size: .909em;
    /* 10px */
    margin: 0 0 24px;
    .label {
      margin: 2px 0 5px;
      font: normal 1.4em / 1.1em HelveticaNeue67MdCn, Verdana, sans-serif;
      color: #333;
    }
  }
  .external_links .bigSearch {
    .label {
      margin-bottom: 1.7em;
    }
    .search {
      padding: 1px 8px 2px;
      height: 35px;
      width: 259px;
      font-size: 2.8em;
    }
  }
  .bigSearch .search.typeMode {
    font-size: 1.8em;
  }
  .external_links .bigSearch {
    .radios {
      top: 32px;
      right: auto;
      left: 4px;
    }
    #extLinks {
      width: 100px;
      margin-top: -38px;
      a {
        padding: 0 0 0 15px;
        background-position: 0 4px;
      }
    }
  }
  .bigSearch.block-jump {
    width: 408px;
    margin-bottom: 20px;
    padding-left: 12px;
    padding-bottom: 12px;
  }
}

.section-gateways .region-content-top .bigSearch {
  &#block-jump-menu-menu-hp-browse.bigSearch, &#block-jump-menu-menu-hp-subject.bigSearch {
    padding-top: 0px;
  }
}

.region-content-top {
  .bigSearch.block-jump {
    &#block-jump-menu-menu-hp-browse, &#block-jump-menu-menu-dmds-soft {
      width: 205px;
      float: left;
      padding: 15px 0 15px 10px;
    }
    &#block-jump-menu-menu-hp-subject, &#block-jump-menu-menu-dmds-equip {
      width: 205px;
      float: left;
      padding: 15px 10px 15px 0px;
    }
  }
  #block-jump-menu-menu-hp-browse .bigBrowse, #block-jump-menu-menu-dmds-soft .bigBrowse {
    padding: 8px 0 8px 10px;
  }
  #block-jump-menu-menu-hp-subject .bigBrowse, #block-jump-menu-menu-dmds-equip .bigBrowse {
    padding: 8px 10px 8px 10px;
  }
  .bigSearch {
    &.block-jump {
      &#block-jump-menu-menu-hp-browse select, &#block-jump-menu-menu-hp-subject select, &#block-jump-menu-menu-dmds-soft select, &#block-jump-menu-menu-dmds-equip select {
        width: 186px;
      }
    }
    .submit {
      margin: 0 0 0 5px;
      width: 12px;
      height: 35px;
      background: transparent url(../images/style/search_sml_arrow.gif) no-repeat left top;
    }
  }
  .bigBrowse {
    padding: 8px 9px 11px;
    .label {
      margin: 2px 0 5px;
    }
    select {
      width: 186px;
      font-size: 1em;
    }
  }
}

.archives .region-content-top .node-search-box .bigSearch, .section-gateways .region-content-top .node-search-box .bigSearch {
  margin-bottom: 0;
}

.region-content-top {
  .bigSearch {
    .search {
      padding: 1px 8px 2px;
      height: 30px;
      width: 375px;
      font-size: 2.8em;
    }
    .radios {
      top: 13px;
      right: 29px;
      left: auto;
    }
    a.advsearch {
      padding: 4px 0 0 2px;
    }
  }
  .external_links .bigSearch a.help {
    padding: 2px 133px 12px 17px;
    background-position: 0 4px;
  }
  .bigSearch a.help {
    background-position: 0 6px;
    padding: 4px 23px 0 17px;
  }
  .bigBrowse {
    padding: 8px 9px 11px;
    select {
      width: 280px;
    }
  }
}

.dmds {
  .bigSearch {
    background-color: #C3C3C3;
  }
  .bigBrowse {
    background-color: #f4f4f4;
  }
}

/* NU footer */

#block-block-22 {
  margin: 30px 0 0 -170px;
}

#nu-footer {
  * {
    font-family: helvetica,arial,sans-serif;
  }
  border-top: 1px solid #666;
  padding-top: 20px;
  background: none repeat scroll 0 0 #E9E8E5;
  height: auto;
  width: 900px;
  margin: 0 auto;
  letter-spacing: .03em;
  vertical-align: middle;
  line-height: 16px;
}

.special #nu-footer {
  background: none repeat scroll 0 0 white;
}

#nu-footer {
  img {
    margin: 0;
    padding: 10px 0px 0px 0px;
    vertical-align: middle;
  }
  .links {
    float: left;
    width: 510px;
    margin-top: 5px;
  }
  .social-networking-icons {
    margin-left: 125px;
    float: left;
    width: 66px;
  }
  p, a {
    font-size: 10px;
    color: #666666;
  }
  p {
    clear: both;
    width: 600px;
    margin: 5px 0 0 150px;
    text-align: center;
  }
  a {
    &.logo {
      background: url("../images/nu-footer/logo-red.png") no-repeat scroll left top transparent;
      display: inline;
      float: left;
      height: 17px;
      width: 173px;
      text-decoration: none;
      font-color: none;
      padding: 0 10px 0;
      margin-top: 6px;
      margin-left: 6px;
      &:hover {
        background: url("../images/nu-footer/NUlogo-rollover-footer.png") no-repeat scroll left top transparent;
      }
    }
    &.facebook img {
      float: right;
      padding-top: 6px;
      text-decoration: none;
      font-color: none;
    }
    &.twitter img, &.youtube img {
      float: right;
      padding-left: 6px;
      padding-top: 6px;
      text-decoration: none;
      font-color: none;
    }
  }
}

.field-name-field-user-photo img {
  max-width: 128px;
  height: auto;
}

.search-form .form-text {
  margin-bottom: 0;
}

/* Fixing the overflow issues */

.no-sidebars #mainContent {
  padding: 0;
}


tr.even{
  background-color: #efefef;
}
tr.odd{
  background-color: #ffffff;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}



//fix the autocomplete list from being covered.
#autocomplete{
  z-index: 9999;
  background-color: #FFF;
  ul{
    padding: 4px;
  }
}
