/**
 * @file
 * Views Styling
 */




.view-search-node-index{
  h4{
    font-size: 1.2em;
    margin-bottom: 0;
  }
  .views-field-url{
    color: $searchUrlColor;
    font-size: 0.88em;
  }
  .views-field-search-api-relevance, .views-field-type{
    font-size: 0.88em;
  }
}

#block-views-exp-search-node-index-page-1, #views-exposed-form-search-user-index-page {
  #header &{
    position: absolute;
    top: 50px;
    left: 693px;
    width: 218px;
  }
  label, .description{
      position: absolute !important;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      overflow: hidden;
      height: 1px;
  }
  //The spinning "Throbber"
  html.js & input.form-autocomplete{
    background-position: 98% 7px;
  }
  html.js & input.throbbing {
    background-position: 98% -13px; //LTR
  }
}

.special #block-views-exp-search-node-index-page-1 {
  left: 734px;
}
#block-views-exp-search-node-index-page-1, #views-exposed-form-search-user-index-page {
  .form-item {
    float: left;
    margin: 0;
  }
  .form-text {
    height: 16px;
    width: 190px;
    line-height: 16px;
    margin:0;
    padding:6px 5px 4px;
    border: 1px solid #666;
    font: 1.4em/1.25em "Times New Roman",Times,Georgia,serif;
    color: #000;
    //@todo .box-shadow(inset 0 0 2px #666);
    @include placeholder(#666);
  }
  .form-submit {
    margin:0;
    border:0 none;
    text-indent:-999em;
    text-transform:capitalize;  //IE fix 
    height: 27px;
    width: 14px;
    background:url(../images/style/search_arrow.gif) no-repeat left top transparent;
  }
  .special & .form-submit {
    background:url(../images/style-special/search_arrow.gif) no-repeat left top transparent;
  }
}
  
.views-exposed-form .views-exposed-widget{
  float: none;
  padding: 0;
}


/**
 * Construction Updates Block Styling, please remove after the block has been removed.
 */
#block-views-construction-summer-2013-block{
  border-top: 1px solid #ccc;
  padding-top: 1em;
  h2{
    text-indent: -2000em;
    background: url('/sites/all/themes/nulib/images/style/construction.png') top right no-repeat;
    background-image: url('/sites/all/themes/nulib/images/style/construction.svg');
    background-size: 262px 96px;
    display: block;
    width: 262px;
    height: 96px;
  }
  ul{
    padding: 0;
    li{
      list-style: none;
      margin-bottom: 0.5em;
    }
  }
  .views-field-changed{
    font-size: 10px;
  }
  .views-field-title a{
    font-size: 12px;
  }
}
/**
 * End construction updates block styling. 
 */


.view-id-search_user_index {
  li{
    clear: both;
  }
  .views-field{
    margin-left: 5em;
  }
  .views-field-field-user-photo-square{
    width: 45px;
    height: 45px;
    float: left;
    margin: 0 0 1em 0;
  }
  .views-field-field-user-dept{
    margin-top: -4px;
  }
}