@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}


@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin linkTextOffscreen() {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    font-size: 0;
    text-align: start;
}


@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}


@mixin placeholder($color) {
  &:-moz-placeholder{
    color: $color;
    font-style: italic !important;
  }
  &::-moz-placeholder{
    color: $color;
    font-style: italic !important;
  }
  &:-ms-input-placeholder{
    color: $color;
    font-style: italic !important;
  }
  &::-webkit-input-placeholder{
    color: $color;
    font-style: italic !important;
  }

}

@mixin typeMode($font-color, $font-size) {
    color: $font-color;
    font-style: normal;
    font-size: $font-size;
    font-family: $big-search-input-font-family;
    line-height: 1;
    vertical-align: middle !important;
}

@mixin placeholder-base {
    font: $big-search-placeholder-font;
    color: $big-search-placeholder-color;
    vertical-align: middle;
}

@mixin placeholder-search{
    &::-webkit-input-placeholder {
        @include placeholder-base;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        @include placeholder-base;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        @include placeholder-base;
    }
    &:-ms-input-placeholder {
        @include placeholder-base;
    }
}

@mixin svg-background($img) {
  $png: '#{$img}.png';
  $svg: '#{$img}.svg';

  background-image: image-url($png);
  background-image: none, image-url($svg);
  background-repeat: no-repeat;
  @include background-size(contain);
}


@mixin nulib-search-block {
    height: 16px;
    width: 190px;
    margin: 0;
    padding: 6px 5px 4px;
    border: 1px solid #666;
    font-size:  1.4em;
    line-height:1.25em;
    font-family: "Times New Roman", Times, Georgia, serif;
    font-style: normal;
    color: #666;
    box-shadow: $input-inset-box-shadow;
    @include border-radius($component-large-border-radius);
    @include placeholder($placeholder-color);
}

@mixin link-transition($link-color: $link-color, $link-hover-color: $link-hover-color){
  @include single-transition(color, 0.5s);
  color: $link-color;
  text-decoration: none;
  &:link, &:visited {
    color: $link-color;
    text-decoration: none;
  }
  &:hover, &:focus, &:active {
    @include single-transition(color, 0.5s);
    outline: 0 none;
    text-decoration: underline;
    color: $link-hover-color;
  }
}



@mixin img-polaroid{
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
  padding: em(4px);
  background-color: $white;
  border: em(1px) solid #ccc;
  border: em(1px) solid rgba(0, 0, 0, 0.2);
}

@mixin img-rounded{
  @inlcude border-radius($border-radius-large);
}




// Perfect circle
@mixin img-circle {
  border-radius: 500px; // crank the border-radius so it works with most reasonably sized images
}

@mixin thumbnail{
  @include single-transition(all .2s ease-in-out);
  @include border-radius($thumbnail-border-radius);
  padding: 4px;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  img{
    margin-left: auto;
    margin-right: auto;
  }
}



@mixin italic-title{
  font-style: italic;
  font-family: $serif;
}

@mixin inline-svg-background($svg-base64, $png-base64, $png-path){
  .svg &{
    background-image: $svg-base64;
  }
  .no-svg &{
    background-image: $png-base64;
    background-image: $png-path;
  }
  background-repeat: no-repeat;
}

// From WebAIM http://webaim.org/techniques/css/invisiblecontent/
@mixin sr-only($focus-show: false){
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  @if $focus-show{
    &:focus{
      position:static;
      width:auto;
      height:auto;
    }
  }
}


