





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column One
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#columnOne {
  h2 {
    padding-left: 5px;
  }
  ul {
    list-style-image: none;
  }
  li {
    position: relative;
    border-bottom: 1px solid #d0c7ab;
    list-style: none;
    list-style-image: none;
    margin: 0;
    font-size: 1.1em;
  }
}

.dmds #columnOne li, .dmdsTypical #columnOne li, .archives #columnOne li {
  border-bottom: 1px solid #bdbdbd;
}

.dmds #columnOne li li, .dmdsTypical #columnOne li li, .archives #columnOne li li {
  border-bottom: 0;
}

.ie7 #columnOne li.expanded {
  padding-bottom: 10px;
  &.open {
    padding-bottom: 0;
  }
}

#columnOne {
  li {
    &.open {
      padding-bottom: 10px;
    }
    a {
      color: #333;
      display: block;
      margin: 0 0 0 16px;
      padding: 4px 0 5px;
      &.active {
        color: #c00;
        text-decoration: underline;
      }
    }
  }
  .noExpandingNav li a {
    margin: 0;
    padding: 4px 0 5px 5px;
    background-image: none;
  }
  li .toggle {
    display: block;
    float: left;
    text-indent: -999em;
    color: #c00;
    margin: 0;
    padding: 4px 0 5px;
    width: 16px;
    background: url(../images/style/arrowdown.gif) 4px 50% no-repeat;
    cursor: pointer;
  }
}

.special #columnOne li .toggle {
  background: url(../images/style-special/arrowdown.gif) 4px 50% no-repeat;
}

.ie7 #columnOne li .toggle + a {
  float: left;
  margin: 0;
  width: 175px;
}

#columnOne .expanded .toggle {
  background: url(../images/style/arrowdown.gif) 4px 50% no-repeat;
}

.special #columnOne .expanded .toggle {
  background: url(../images/style-special/arrowdown.gif) 4px 50% no-repeat;
}

#columnOne .closed .toggle {
  background: url(../images/style/arrowright.gif) 4px 50% no-repeat;
}

.special #columnOne .closed .toggle {
  background: url(../images/style-special/arrowright.gif) 4px 50% no-repeat;
}

#columnOne ul ul {
  margin-bottom: 0;
}

.ie7 #columnOne ul ul {
  width: 100%;
}

#columnOne {
  .closed > ul {
    display: none;
  }
  li li {
    padding: 0;
    font-size: .9em;
    border: none;
    padding-left: 9px;
  }
}

.ie7 #columnOne li ul.menu {
  padding-bottom: 5px;
}

#columnOne {
  .expanded li {
    padding-bottom: 0;
  }
  .hoverable li {
    padding: 0;
  }
  li li a {
    margin: 0 0 0 16px;
    padding: 2px 0;
  }
}

.ie7 li li.first {
  width: 180px;
}

#columnOne li li .toggle {
  padding: 2px 0;
}

.ie7 #columnOne li li .toggle + a {
  float: left;
  margin: 0;
  width: 164px;
}

#columnOne li li li {
  font-size: inherit;
  a {
    margin: 0;
    padding: 2px 0 2px 16px;
    background: url(../images/style/blackbullet.gif) 7px 8px no-repeat;
  }
  &.active a {
    background-image: url(../images/style/redbullet.gif);
  }
}

.ie7 #columnOne li li li .toggle + a {
  float: left;
  margin: 0;
  width: 139px;
  padding-left: 0px;
  background-image: none;
}

