//LAYOUT

html {
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font: 62.5% / 1.5em Verdana, Arial, sans-serif;
  color: #333;
  background-color: #e9e8e5;
  &.special {
    background-color: white;
  }
}

#containerheader, .region-navigation-wrapper, #container, #footerWrap {
  width: 100%;
}

#containerheader {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.special #containerheader {
  background-color: #c00;
}

#header, .region-navigation, #borderWrap {
  border-left: 1px solid #8c8c8a;
  border-right: 1px solid #8c8c8a;
}

.special {
  #header, .region-navigation, #borderWrap {
    border-left: none;
    border-right: none;
  }
}

#header, .region-navigation, #borderWrap, .region-footer {
  margin: 0 auto;
  width: 900px;
  padding: 0 15px;
}

.special {
  #header, .region-navigation, #borderWrap {
    padding: 0 50px;
  }
  .region-footer {
    padding: 0 50px;
    padding: 0 218px;
  }
}

#header {
  height: 112px;
  font-size: 1em;
  position: relative;
  background-color: white;
}

.special #header {
  background-color: #c00;
}

#borderWrap {
  background-color: white;
  border-bottom: 1px solid #8c8c8a;
}

.special #borderWrap {
  background-color: transparent;
  border-bottom: none;
}

#columnWrap {
  clear: both;
  background: url(../images/style/column_two_bg.gif) repeat-y 10px 0 transparent;
  margin-bottom: 19px;
  position: relative;
}

.no-sidebars #columnWrap {
  background: none;
}

.one-sidebar.sidebar-first #columnWrap {
  background-image: url(../images/style/column_twoleft_bg.gif);
}

.two-sidebars {
  #columnWrap {
    background-image: url(../images/style/column_three_bg.gif);
  }
  &.special #columnWrap {
    background-image: url(../images/style-special/column_three_bg.gif);
  }
}

#topbar {
  width: 900px;
  background: #c4b996 url(../images/style/topbar_typical_mid.gif) repeat-y left top;
}

#topbarInner {
  background: url(../images/style/topbar_typical_top.gif) no-repeat left top transparent;
}

#topbarInner2 {
  background: url(../images/style/topbar_typical_bot.gif) no-repeat left bottom transparent;
  padding: 16px 234px 0 13px;
  height: 44px;
}

#columnOne {
  background-color: #f0efee;
  padding: 15px 6px;
  margin-left: 10px;
  border-top: 20px solid #fff;
  width: 193px;
  float: left;
}

#mainContent {
  display: inline;
  position: relative;
  float: left;
  margin: 0;
  font: 1.1em / 1.6em Verdana, Arial, sans-serif;
  width: 430px;
  padding: 40px 20px 10px;
}

.one-sidebar #mainContent {
  display: inline;
  position: relative;
  float: left;
  margin: 0;
  font: 1.1em / 1.7em Verdana, Arial, sans-serif;
  width: 645px;
  padding: 40px 20px 10px;
  min-height: 450px;
}

.no-sidebars #mainContent {
  width: 100%;
}

#columnTwo {
  float: right;
  margin: -50px 10px 0 0;
  padding: 14px 5px 126px;
  font: 1em / 1.5em Verdana, Arial, sans-serif;
  width: 195px;
  background-color: #f0efee;
}

.home #columnTwo {
  margin-top: -220px;
}

.special #footerWrap {
  clear: both;
  border-top: 1px solid #ccc;
  /*background:url(../images/style/footerbg.gif) repeat-x left bottom #fff;*/
}

.region-footer {
  background-color: #E9E8E5;
  text-align: center;
  padding: 0 218px;
  width: 564px;
  color: #666;
  position: relative;
}

.special .region-footer {
  /* background: url(../images/style/footerbg.gif) repeat-x left bottom #fff;*/
  background-color: #fff;
  border-top: 1px solid #ccc;
  margin-top: -1px;
}

.region-sidebar-first {
  min-height: 450px;
}