// Construction Updates Block Styling, please remove after the block has been removed.
#block-views-construction-summer-2013-block{
  border-top: 1px solid #ccc;
  padding-top: 1em;
  h2{
    text-indent: -2000em;

    background: url('/sites/all/themes/nulib/images/style/construction.svg') top right no-repeat;
    background-size: 205px 75px;
    display: block;
    width: 205px;
    height: 75px;
    margin: 0 auto;
    .no-svg &{
      background: url('/sites/all/themes/nulib/images/style/construction.png') top right no-repeat;
    }
  }
  ul{
    padding: 0;
    li{
      list-style: none;
      margin-bottom: 0.5em;
    }
  }
  .views-field-changed{
    font-size: 10px;
  }
  .views-field-title a{
    font-size: 12px;
  }
}
// End construction updates block styling.
