
// From WebAIM http://webaim.org/techniques/css/invisiblecontent/
.sr-only{
  @include sr-only(false);
}

.sr-only-focus{
  @include sr-only(true);
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.display-block{
  display: block;
}
.display-inline{
  display: inline;
}
.display-inline-block{
  display: inline-block;
}
